Задачи по Pandas

V 0.1 24.09.2020

Датасеты:
* addres-book.json
* addres-book.xml
* addres-book-q.xml

# JSON

* Работаем с файлом addres-book.json

In [10]:
import json #подключили библиотеку для работы с json
from pprint import pprint #подключили Pprint для красоты выдачи текста
with open('addres-book.json', 'r', encoding = 'utf-8') as f:
  text = json.load(f)
  pprint(text)

[{'birthday': '22.08.1994',
  'email': 'faina@mail.ru',
  'name': 'Faina Lee',
  'phones': [{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]},
 {'birthday': '22.08.1994',
  'email': 'robert@mail.ru',
  'name': 'Robert Lee',
  'phones': [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]}]

In [14]:
# 2 вариант (через пандас)
import pandas as pd
df = pd.read_json('addres-book.json')

In [15]:
# пример конвертации в json из pandas
result = df.to_json(orient="records")
parsed = json.loads(result)
pprint(parsed)

[{'birthday': '22.08.1994',
  'email': 'faina@mail.ru',
  'name': 'Faina Lee',
  'phones': [{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]},
 {'birthday': '22.08.1994',
  'email': 'robert@mail.ru',
  'name': 'Robert Lee',
  'phones': [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]}]

1) Вывести все адреса электронной почты, содржащиеся в адресной книге, имеющей структуру, аналогичную my_ab2.

In [16]:
for txt in text:
  pprint(txt['email'])

'faina@mail.ru'
'robert@mail.ru'

In [17]:
# 2 вариант (через пандас)
df.email

0     faina@mail.ru
1    robert@mail.ru
Name: email, dtype: object

2) Вывести телефоны, содржащиеся в адресной книге, имеющей структуру, аналогичную my_ab2.

In [18]:
for txt in text:
  pprint(txt['phones'])

[{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]
[{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]

In [19]:
# 2 вариант (через пандас)
df.phones

0    [{'phone': '232-19-55'}, {'phone': '+7 (916) 2...
1    [{'phone': '111-19-55'}, {'phone': '+7 (916) 4...
Name: phones, dtype: object

3) Изменить структуру данных my_ab2 так, чтобы для телефонов был однозначно известен их тип. Создать пример записи с обновленной структурой данных. Вывести все домашние телефоны, содржащиеся в созданном примере.

In [20]:
# 2 вариант (через пандас)

In [21]:
l = []
for i,j in dict(df.phones).items():
  l.append(str(j).split(', '))

In [22]:
l

[["[{'phone': '232-19-55'}", "{'phone': '+7 (916) 232-19-55'}]"],
 ["[{'phone': '111-19-55'}", "{'phone': '+7 (916) 445-19-55'}]"]]

In [23]:
l[0][1]

"{'phone': '+7 (916) 232-19-55'}]"

In [24]:
df['home'] = [i[0] for i in l]

In [25]:
df['main'] = [i[1] for i in l]

In [26]:
print(df.main)
print(df.home)

0    {'phone': '+7 (916) 232-19-55'}]
1    {'phone': '+7 (916) 445-19-55'}]
Name: main, dtype: object
0    [{'phone': '232-19-55'}
1    [{'phone': '111-19-55'}
Name: home, dtype: object

3.2) Изменить структуру данных my_ab2 так, чтобы для каждой записи в адресной книге можно было записать список друзей этого человека, присутствующих в этой же адреснойЯфыыв.

In [27]:
df['friend'] = [i for i in range(2)]

In [28]:
df

         name           email  ...                              main friend
0   Faina Lee   faina@mail.ru  ...  {'phone': '+7 (916) 232-19-55'}]      0
1  Robert Lee  robert@mail.ru  ...  {'phone': '+7 (916) 445-19-55'}]      1

[2 rows x 7 columns]

In [29]:
result = df.to_json(orient="records")
parsed = json.loads(result)
with open('addres-book.json', 'w',encoding = 'utf-8') as outfile:
      json.dump(parsed, outfile, ensure_ascii=False, indent=2)

4) Написать функцию, которая формирует новую запись в телефонной книге, запрашивая у пользователя поочередно все необходимые поля.

In [30]:
def client(bir, mail, friend, home, main, name, phone,phone2):

  new_data = {'birthday': bir,'email': mail,'friend':friend,'home':home,'main':main,'name': name,'phones': [{'phone': phone}, {'phone': phone2}]}

  with open('addres-book.json', 'r', encoding = 'utf-8') as f:
    text = json.load(f)
    text.append(new_data)
    with open('addres-book.json', 'w',encoding = 'utf-8') as outfile:
      json.dump(text, outfile, ensure_ascii=False, indent=2)

In [31]:
client('11.11.2011','sobaka@.sobaka','петухи','88005553535','6666661488228','ivan', '88005553535','6666661488228')

In [32]:
with open('addres-book.json', 'r', encoding = 'utf-8') as f:
    text = json.load(f)
    pprint(text)

[{'birthday': '22.08.1994',
  'email': 'faina@mail.ru',
  'friend': 0,
  'home': "[{'phone': '232-19-55'}",
  'main': "{'phone': '+7 (916) 232-19-55'}]",
  'name': 'Faina Lee',
  'phones': [{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]},
 {'birthday': '22.08.1994',
  'email': 'robert@mail.ru',
  'friend': 1,
  'home': "[{'phone': '111-19-55'}",
  'main': "{'phone': '+7 (916) 445-19-55'}]",
  'name': 'Robert Lee',
  'phones': [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]},
 {'birthday': '11.11.2011',
  'email': 'sobaka@.sobaka',
  'friend': 'петухи',
  'home': '88005553535',
  'main': '6666661488228',
  'name': 'ivan',
  'phones': [{'phone': '88005553535'}, {'phone': '6666661488228'}]}]

5) Написать функцию, которая ищет по имени в хранящейся в файле телефонной книге запись о человеке и выводит информацию о нем в виде текста, где в каждой строке указывается тип выводимого поля и его содержимое.

In [33]:
def find_person(name):
  with open('addres-book.json', 'r', encoding = 'utf-8') as f:
    text = json.load(f)
  for n in text:
    if n["name"] == name:
        value = n

        break
  else:
    print("Error 228")
    
    value = "Такого пользователя нет"
  
  return(value)

In [34]:
pprint(find_person('ivan'))

{'birthday': '11.11.2011',
 'email': 'sobaka@.sobaka',
 'friend': 'петухи',
 'home': '88005553535',
 'main': '6666661488228',
 'name': 'ivan',
 'phones': [{'phone': '88005553535'}, {'phone': '6666661488228'}]}

In [35]:
text

[{'birthday': '22.08.1994',
  'email': 'faina@mail.ru',
  'friend': 0,
  'home': "[{'phone': '232-19-55'}",
  'main': "{'phone': '+7 (916) 232-19-55'}]",
  'name': 'Faina Lee',
  'phones': [{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]},
 {'birthday': '22.08.1994',
  'email': 'robert@mail.ru',
  'friend': 1,
  'home': "[{'phone': '111-19-55'}",
  'main': "{'phone': '+7 (916) 445-19-55'}]",
  'name': 'Robert Lee',
  'phones': [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]},
 {'birthday': '11.11.2011',
  'email': 'sobaka@.sobaka',
  'friend': 'петухи',
  'home': '88005553535',
  'main': '6666661488228',
  'name': 'ivan',
  'phones': [{'phone': '88005553535'}, {'phone': '6666661488228'}]}]

6) Получить координаты всех отделений связи г. Пущино, имеющих отдельный почтовый индекс, с использованием API 'http://api.zippopotam.us' . (Индексы использыемые в г. Пущино нужно собрать из открытых источников).

In [43]:
from bs4 import BeautifulSoup
import requests as r

In [44]:
re = r.get('https://index.kodifikant.ru/ru/5000001500000')
s = BeautifulSoup(re.text, 'html.parser')

In [45]:
ind = []
for tag in s.find_all("li"):
        ind.append(tag.text.split(' '))

In [46]:
res = []

In [47]:
for i in ind:
  for j in i:
    if '14' in j:
      res.append(j)

In [48]:
res_fin = []
for v in res:
  res_fin.append(int(v))

In [49]:
indexes = list(set(res_fin))
indexes

[142280, 142290]

In [50]:
import requests as r
response = r.get('http://api.zippopotam.us/RU/142290')
response2 = r.get('http://api.zippopotam.us/RU/142280')

In [51]:
response_body = response.json()
response_body2 = response2.json()

In [52]:
pprint(response_body)
pprint(response_body2)

{'country': 'Russia',
 'country abbreviation': 'RU',
 'places': [{'latitude': '54.9454',
             'longitude': '37.349',
             'place name': 'Пущино',
             'state': 'Московская Область',
             'state abbreviation': ''}],
 'post code': '142290'}
{'country': 'Russia',
 'country abbreviation': 'RU',
 'places': [{'latitude': '54.8664',
             'longitude': '37.2178',
             'place name': 'Протвино',
             'state': 'Московская Область',
             'state abbreviation': ''}],
 'post code': '142280'}

In [53]:
dff = pd.DataFrame.from_dict(response_body)
dff2 = pd.DataFrame.from_dict(response_body2)

In [54]:
h = []
for i,j in dict(dff.places).items():
  h.append(str(j).split(', '))

In [55]:
h2 = []
for ii,jj in dict(dff2.places).items():
  h2.append(str(jj).split(', '))

In [56]:
h[0][1], h[0][4]

("'longitude': '37.349'", "'latitude': '54.9454'}")

In [57]:
h2[0][1], h2[0][4]

("'longitude': '37.2178'", "'latitude': '54.8664'}")

# Pickle

In [58]:
import pickle
import numpy as np

1) Сгенирорвать данные, аналогичные структуре ddres-book.json с 1000 записей. 

2) Сохранить результаты з.1 в файл Pickle и в файл JSON. Сравнить объемы получившихся файлов.

3) Сравнить время записи / чтения данных в форматах Pickle и JSON из з.2

4) Преорбазовать структуру данных из ddres-book.json так, чтобы для получения данных о конкретном человеке можно было эффективно использовать возможности модуля shelve.

1

In [60]:
clients = [['11.11.2012','sobaka@.sobaka','петухи','88005553535','6666661488228','ivan', '88005553535','6666661488228']]*1000
for i in clients:
  client(i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7])

2

In [ ]:
%time
with open('dict.json', 'w') as outfile:
    json.dump(my_ab, outfile,indent=3)

1635596515.8339846

In [ ]:
%time
import pickle
with open('dict.pickle', 'wb') as outfile:
    pickle.dump(my_ab, outfile)

3

In [ ]:

%time
with open('dict.json', 'r', encoding='utf8') as fp:
    datajson=json.load(fp)

In [ ]:
%time
with open('dict.pickle', 'rb') as fp:
    datapickle=pickle.load(fp)

до

# XML

In [2]:
import requests 
from bs4 import BeautifulSoup

1) По данным из файла addres-book-q.xml сформировать список словарей с телефоноами каждого из людей. Вид результата: [{ФИО: ['телефон1', 'телефон2']}] и вывести его на экран и сохранить в json файле.

2) По данным из файла addres-book-q.xml сформировать список (в виде списка в Python) адресов электронной почты всех женщин и вывести его на экран

3) По данным из файла addres-book-q.xml сформировать список (в виде списка в Python) всех участников с рабочими телефонами и вывести его на экран

4) По данным из файла addres-book-q.xml сформировать словарь вида {название страны: количество участников} и вывести его на экран

In [3]:
with open('addres-book-q.xml') as f:
    ab = BeautifulSoup(f, 'xml')

1

In [4]:
res = list();
for person in ab.address_book.find_all("address"):
    ph = [phones.next for phones in person.phones.find_all("phone")]
    res.append({person.find("name").next: ph})
res

[{'Aicha Barki': ['+ (213) 6150 4015', '+ (213) 2173 5247']},
 {'Francisco Domingos': ['+ (244-2) 325 023', '+ (244-2) 325 023']},
 {'Maria Luisa': ['+ (244) 4232 2836']},
 {'Abraao Chanda': ['+ (244-2) 325 023', '+ (244-2) 325 023']},
 {'Beatriz Busaniche': ['+ (54-11) 4784 1159']},
 {'Francesca Beddie': ['+ (61-2) 6274 9500', '+ (61-2) 6274 9513']},
 {'Graham John Smith': ['+ (61-3) 9807 4702']}]

2

In [5]:

res = list();
for person in ab.address_book.find_all("address"):
    if person.gender.text == 'f':
        res.append(person.find("email").next)
    else:
      pass
res

['luisagrilo@ebonet.net', 'f.beddie@ala.asn.au']

3

In [6]:
res = list();
for person in ab.address_book.find_all("address"):
    if person.find('phone', type='work') != None:
        res.append(person.find('name').next)
    else:
      pass

res

['Aicha Barki',
 'Francisco Domingos',
 'Abraao Chanda',
 'Beatriz Busaniche',
 'Francesca Beddie',
 'Graham John Smith']

4

In [7]:
res = {};
for country in ab.address_book.find_all("country"):
  cnt = 0
  for person in country.find_all("address"):
    cnt += 1
  res.update({country["name"]: cnt})
res

{'algeria': 1, 'angola': 3, 'argentina': 1, 'australia': 2}

5) Превратить информацию из addres-book.xml в json файл с содержимым вида: [{'birthday': '11.07.1984', 'email': 'bruce@gmail.com', 'name': 'Bruce Lee'},
 {'birthday': '22.03.1985', 'email': 'alee@yandex.ru', 'name': 'Alice Lee'}]

Здачи на работу с данными ЕЦБ:

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
# Create a variable with the URL to this tutorial
url = 'http://sdw.ecb.europa.eu/quickviewexport.do?SERIES_KEY=320.MNA.Q.Y.I8.W0.S1.S1._Z.LPR_PS._Z._T._Z.EUR.LR.GY&start=01-01-2001&end=01-01-2011&type=sdmx'

# Scrape the HTML at the url
r = requests.get(url)

# Turn the HTML into a Beautiful Soup object
s = BeautifulSoup(r.text, 'xml')

In [ ]:
s.MessageGroup.Header

In [ ]:
s.MessageGroup.Header.ID

In [ ]:
s.MessageGroup.Header.ID.text

In [ ]:
obs_all = s.findAll('Obs')

In [ ]:
len(obs_all)

In [ ]:
for obs in obs_all:
    print('When: {}, value {}'.format(obs['TIME_PERIOD'], obs['OBS_VALUE']))

## Сбор данных с html страниц

In [ ]:
import urllib
import urllib.parse
import urllib.request

In [ ]:
url_wikipedia = 'https://ru.wikipedia.org'
url_es = 'https://ru.wikipedia.org/wiki/Категория:Электростанции_по_алфавиту'
url_es_q  = urllib.parse.quote(url_es, safe='/:')
print(url_es_q)

In [ ]:
es_bs = BeautifulSoup(urllib.request.urlopen(url_es_q), 'lxml')

In [ ]:
all_es = []
for i in range(30):
    # load links:
    bef = len(all_es)
    for links in es_bs.find_all('div', class_='mw-category-group'):
        for l in links.find_all('a'):
            all_es.append((l['title'], url_wikipedia+l['href']))

In [ ]:
all_es

In [ ]:
all_es_prop = []

In [ ]:
for i, (n, lnk) in enumerate(all_es[:10]):
    es = BeautifulSoup(urllib.request.urlopen(lnk), 'lxml')
    coord = es.find_all('a', class_='mw-kartographer-maplink')
    if len(coord) > 0:
        lat, lon = coord[0]['data-lat'], coord[0]['data-lon']
    else:
        print('{}: {}, COORDINATES IS NOT FOUND! link: {}'.format(i, n, lnk))        
        continue
                          
    es_pr = {}
    table = es.find('table', class_="infobox")
    if table is not None:
        for row in table.find_all('tr'):
            th = row.find_all('th')
            if th and len(th):
    #             print(th[0].text.strip(), end=' || ')
                td = row.find_all('td')
                if td and len(td):
                    es_pr[th[0].text.strip()] = td[0].text.strip()
        #             print(td[0].text.strip())            
        all_es_prop.append((n, lnk, lat, lon, es_pr))
        print('{}: {}, lat: {}, lon: {}, cont: {}'.format(i, n, lat, lon, es_pr.get('Страна', '--')))
    else:
        print('{}: {}, TABLE IS NOT FOUND! link: {}'.format(i, n, lnk))

In [ ]:
all_es_prop

Задание: собрать данные о городах России по категори: https://ru.wikipedia.org/wiki/Категория:Города_по_субъектам_Российской_Федерации